<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hope this works</title>
    <link rel="stylesheet" href="stylesheet.css" />
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <div id="tick">
            <h1>Stock Lookup</h1>
            <input v-on:keyup.enter="getPrice(ticker)" v-model="ticker" type="text" id="ticker" />
            <br />
            <button @click="getPrice(ticker)">Search</button>
            <h2>{{ tickerUpper }}</h2>
            <p>Current Price: {{ sResults }}</p>
            <p>Day Change: {{ dayChange }}</p>
        </div>
        <div id="cry">
            <h1>Crypto Lookup</h1>
            <input v-model='crypto' type="text" id="crypto" v-on:keyup.enter="getCrypto(crypto)" />
            <br />
            <button @click='getCrypto(crypto)'>Search</button>
            <h2>{{ cryptoUpper }}</h2>
            <p>{{ cResults }}</p>
        </div>


    </div>
    <script src="app.js"></script>
</body>
</html>