body{
    background-color: rgb(40 44 52);
}
button{
    margin: .75rem;
}
#app {
    text-align: center;
}
#tick {
    display: inline-block;
    padding: 45px;
    background-color: rgb(128 128 128);
}